<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Books Edit Page</title>
</head>

<body>
  <h1>Edit Book</h1>
  <h2><%=books[0]['title']%></h2>
  <form class="" action="/books/1/edit" method="post">
    <div class="">
      <input type="hidden" name="title" id="edit-title" value="<%=books[0]['title']%>">
    </div>
    <div class="">
      <label for="edit-genre">Genre</label><br>
      <input type="text" name="genre" id="edit-genre" value="<%=books[0]['genre']%>">
    </div>
    <div class="">
      <label for="edit-cover-url">Cover_Url</label><br>
      <input type="url" name="cover_url" id="edit-cover-url" value="<%=books[0]['cover_url']%>">
    </div>
    <div class="">
      <label for="edit-description">Description</label><br>
      <textarea name="description" rows="5" cols="80" id="edit-description"><%=books[0]['description']%></textarea>
    </div>
    <button type="submit" class="">Update Book</button>
  </form>
</body>

</html>
